<div class="container">
    <div *ngIf="(auth.isAuthenticated$ | async)">
      <form [formGroup]="addForm" (ngSubmit)="addManga()" *ngIf="isAdmin()">
        <h1>Add New Manga</h1>
        <div class="form-group">
          <label>Title:</label>
          <input type="text" class="form-control" formControlName="title" required>
        </div>
        <div class="form-group">
          <label>Author:</label>
          <input type="text" class="form-control" formControlName="author" required>
        </div>
        <div class="form-group">
          <label>Year Written:</label>
          <input type="number" class="form-control" formControlName="year_written" required>
        </div>
        <div class="form-group">
          <label>Number Of Volumes:</label>
          <input type="number" class="form-control" formControlName="NumberOfVolumes" required>
        </div>
        <button type="submit" class="btn btn-primary btn-add-manga">Add Manga</button>
        <div *ngIf="!isAdmin()" class="alert alert-warning">
          Only an admin can add new manga titles to the game list.
        </div>
        <div *ngIf="isNotAdmin" class="alert alert-warning">
          You are not authorized to add new manga titles!
        </div>
      </form>
    </div>
    <div *ngIf="!(auth.isAuthenticated$ | async)" class="alert alert-warning">
      Please login to enable adding new manga titles to the game list.
    </div>
  </div>
  