<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">App Manga</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="http://localhost:4200/">Home</a>
          <a class="nav-link" href="http://localhost:4200/add-manga">Add Manga</a>
          <a class="nav-link" href="http://localhost:4200/list-manga">List Manga</a>
          <div class="nav-bar__buttons">
            <ng-container *ngIf="isAuthenticated$ | async; else loggedOut">
              <button class="btn btn-outline-danger" (click)="auth.logout({ returnTo: document.location.origin })">
                Log out
              </button>
            </ng-container>

            <ng-template #loggedOut>
              <button class="btn btn-outline-success" (click)="auth.loginWithRedirect()">Log in</button>
            </ng-template>
          </div>

        </div>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
